{% extends 'layouts/base.html' %}
{% block title %} Ajouter un chauffeur {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock stylesheets %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Ajouter un chauffeur</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="/"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="">chauffeurs</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Ajouter un chauffeur
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header">
      <h3 class="mb-0">Ajouter un nouveau chauffeur</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="name_chauffeur">Nom du chauffeur</label>
              <input type="text" name="name_chauffeur" class="form-control" id="name_chauffeur" placeholder="Entrez le nom du chauffeur" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="email_chauffeur">Email du chauffeur</label>
              <input type="email" name="email_chauffeur" class="form-control" id="email_chauffeur" placeholder="Entrez l'email du chauffeur" required />
            </div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  {% if messages %}
    {% for message in messages %}
      Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        showConfirmButton: true,
        timer: 4000
      });
    {% endfor %}
  {% endif %}
</script>
{% endblock javascripts %}
