{% extends 'layouts/base.html' %}

{% block title %}Gérer les livraisons maintenant{% endblock title %}

{% block content %}
<style>
    .table-action {
      margin-right: 10px;
    }
</style>
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Livraisons aujourd'hui</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Livraisons aujourd'hui</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Livraisons aujourd'hui</h3>
                </div>
                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-basic-delivery">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Nom du camion</th>
                                <th>Ville de départ</th>
                                <th>Date de départ</th>
                                <th>Ville d'arrivée</th>
                                <th>Date d'arrivée</th>
                                <th>Durée</th>
                                <th>Délai</th>
                                <th>Tonnage</th>
                                <th>Numéro de téléphone</th>
                                <th>Trajet chargé</th>
                                <th>Expidation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for delivery in deliveries %}
                            <tr>
                                <td>{{ delivery.id }}</td>
                                <td>{{ delivery.name_truck }}</td>
                                <td>{{ delivery.departure_city }}</td>
                                <td>{{ delivery.departure_date}}</td> 
                                <td>{{ delivery.arrival_city }}</td>
                                <td>{{ delivery.arrival_date }}</td> 
                                <td>
                                    {% if delivery.duration_hours is not None %}
                                        {{ delivery.duration_hours }} heures
                                    {% else %}
                                        0 heures
                                    {% endif %}
                                </td>
                                <td>
                                    {% if delivery.delay is not None %}
                                        {{ delivery.delay }} min
                                    {% else %}
                                        0 min
                                    {% endif %}
                                </td>
                                <td>{{ delivery.tonnage }}</td>
                                <td>{{ delivery.phone_number }}</td>
                                <td>
                                    {% if delivery.loaded_trip == 0 %}
                                       Non
                                {% else %}
                                    Oui
                                {% endif %}
                                </td>
                                <td>
                                    {% if delivery.arrival_delivery == 0 %}
                                    Non
                             {% else %}
                                 Oui
                             {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'map_delivery' delivery.id%}" style="color: green; font-size: 17px" class="table-action table-action-map" data-toggle="tooltip" title="Carte"><i class="ni ni-map-big"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  $(document).ready(function () {
      $('#datatable-basic-delivery').DataTable({
          paging: true,
          searching: true,
          info: false,
          lengthChange: false,
          responsive: true,
          order: [[0, 'asc']],
          columnDefs: [
              { orderable: false, targets: [1, 2, 5, 6, 7, 8,9,10,11,12] } 
          ],
          language: {
              emptyTable: "Vide", 
              zeroRecords: "Vide",
              paginate: {
                  previous: '<i class="fas fa-angle-left"></i>',
                  next: '<i class="fas fa-angle-right"></i>'
              },
              search: "Recherche : ",
              searchPlaceholder: "Recherche"
          },
      });
  });
</script>
{% endblock javascripts %}